Lab3/task1/emp.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2023 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Building">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="10-bno"/>
				<xs:enumeration value="10bno, "/>
				<xs:enumeration value="12-bno, "/>
				<xs:enumeration value="5-bno, "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="City">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Alexandria"/>
				<xs:enumeration value="Alexandria, "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Egypt"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Number">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="11-st"/>
				<xs:enumeration value="15-st"/>
				<xs:enumeration value="20-st"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Region">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="El-shatby, "/>
				<xs:enumeration value="Miame"/>
				<xs:enumeration value="Sidi-Beshr"/>
				<xs:enumeration value="Sidi-Gaber, "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Number"/>
				<xs:element ref="street"/>
				<xs:element ref="Region"/>
				<xs:element ref="Building"/>
				<xs:element ref="City"/>
				<xs:element ref="Country"/>
			</xs:sequence>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="home"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="addresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="address" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="email">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" radwa@gmail.com"/>
				<xs:enumeration value="mohammed@gmail.com"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="emp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="email"/>
				<xs:element ref="phones"/>
				<xs:element ref="addresses"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="employees">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="emp" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Mohammed Hassan"/>
				<xs:enumeration value="Radwa Hassan"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="phone">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_phone">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="home"/>
								<xs:enumeration value="mobile"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="phones">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="phone" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="street">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="El zohor, "/>
				<xs:enumeration value="Mohammed Naguib, "/>
				<xs:enumeration value="Mostafa Kamel, "/>
				<xs:enumeration value="khaled-EbElwaleed"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_phone">
		<xs:restriction base="xs:int">
			<xs:enumeration value="105659652"/>
			<xs:enumeration value="1165659652"/>
			<xs:enumeration value="1256459652"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
